
    <%- include('header') %>
    <h2>Open roles:</h2>
    <div>
        <h3>Enginnering team</h3>
        <ul>
            <li><a href="vaga">FULLstack Developer (remote)</a></li>
        </ul>
    </div>

    <div>
        <h3>Marketing team</h3>
        <ul>
            <li>Digital Marketing (san francisco)</li>
        </ul>
    </div>

    <div>
        <h3>Portifolio</h3>
        <ul>
            <li><a href="portifolio">Ver mais detalhes...</a></li>
        </ul>
    </div>
    <p><%- date %></p>
<%- include('footer') %>