<h1>Portifólio</h1>
<%- include('header') %>

<!-- html do portifolio -->
<div class="test">
    <!-- div mae colocar todo conteudo aqui -->
    <h1 class="style">Informação do Portifólio</h1>
    <!-- nome  -->
    <div class="info">
        <h4 class="style">Nome:</h4>
        <p  class="style2">Liliu do Carmo</p>
        <hr>
        <h4  class="style">Email:</h4>
        <p  class="style2">email_teste@Email.com</p>
        <hr>
        <h4  class="style">Infomação:</h4>
        <p  class="style2">Workshop de Fullstack</p>
        <hr>
        <h4  class="style">Liguagem:</h4>
        <p  class="style2">Javascript</p>
        <hr>
        <h4  class="style">Banco de dados:</h4>
        <p  class="style2">MongoBD</p>
    </div>
    
    <hr>  
</div>


<%- include('footer') %>
