
    <h1>Vagas</h1>
    <%- include('header') %>
    <h2>Open roles:</h2>
    <div>
        <h3>Enginnering team</h3>
        <ul>
            <li><a href="vaga">FULLstack Developer (remote)</a></li>
        </ul>
    </div>

    <div>
        <h3>Marketing team</h3>
        <ul>
            <li>Digital Marketing (san francisco)</li>
        </ul>
    </div>

    
 <%- include('footer') %>   
